@import './variables.scss';

body {
  background-color: $background-color-base;
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "MIcrosoft YaHei", sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.clearfix:before, .clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@font-face {
  font-family: "com_header";
  src: url("~assets/font/header.eot?t=1501036445556"); /* IE9*/
  src: url("~assets/font/header.eot?t=1501036445556#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/font/header.woff?t=1501036445556") format("woff"), /* chrome, firefox */
  url("~assets/font/header.ttf?t=1501036445556") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("~assets/font/header.svg?t=1501036445556#iconfont") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "com_header";
  src: url("~assets/font/iconfont-search.eot"); /* IE9 */
  src: url("~assets/font/iconfont-search.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/font/iconfont-search.woff") format("woff"), /* chromeã€firefox */
  url("~assets/font/iconfont-search.ttf") format("truetype"); /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+ */
}

.com-header {
  @include box-shadow(0 2px 27px 0 rgba(0, 0, 0, 0.1));
  background: $color-white;
}
.com-header .header-icon {
  font-family: "com_header" !important;
  font-size: 18px;
  font-style: ormal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* iconfont 图标 */
.com-header .icon-header_location:before {
  content: "\e60a";
}
.com-header .icon-search-new:before {
  content: "\e618";
  display: inline-block;
  padding-top: 2px;
}

a {
  @include a();
}

@font-face {
  font-family: 'iconfontNew';
  src: url('~assets/font/iconfontNew.eot');
  src: url('~assets/font/iconfontNew.eot?#iefix') format('embedded-opentype'),
      url('~assets/font/iconfontNew.woff') format('woff'),
      url('~assets/font/iconfontNew.ttf') format('truetype'),
      url('~assets/font/iconfontNew.svg#iconfont') format('svg');
}

.iconfontNew {
  font-family: "iconfontNew" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hc-icon-foodNew:before {
  content: '\e60e';
  color: #FF8200;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-hotelNew:before {
  content: '\e616';
  color: #9B5E3E;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-maoyanNew:before {
  content: '\e612';
  color: #FF3D00;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-ktvNew:before {
  content: '\e607';
  color: #00BF96;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-zhenguoNew:before {
  content: '\e60c';
  color: #FFB500;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-beautyNew:before {
  content: '\e60f';
  color: #FF4081;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-marriedNew:before {
  content: '\e609';
  color: #FF4081;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-childNew:before {
  content: '\e608';
  color: #FF4081;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-sportNew:before {
  content: '\e611';
  color: #03A9F4;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-decorateNew:before {
  content: '\e60b';
  color: #00BF96;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-educationNew:before {
  content: '\e610';
  color: #00BF96;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-medicalNew:before {
  content: '\e60d';
  color: #03A9F4;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-barNew:before {
  content: '\e606';
  color: #00BF96;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-waimaiNew:before {
  content: '\e60a';
  color: #FFB500;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-planeNew:before {
  content: '\e615';
  color: #03A9F4;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-lifeNew:before {
  content: '\e614';
  color: #00BF96;
  vertical-align: middle;
  line-height: 18px;
}

.hc-icon-travelNew:before {
  content: '\e613';
  color: #03A9F4;
  vertical-align: middle;
  line-height: 18px;
}

@font-face {
  font-family: "iconfont";
  src: url('~assets/font/iconfont.eot?t=1500964529975'); /* IE9*/
  src: url('~assets/font/iconfont.eot?t=1500964529975#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~assets/font/iconfont.woff?t=1500964529975') format('woff'), /* chrome, firefox */
  url('~assets/font/iconfont.ttf?t=1500964529975') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('~assets/font/iconfont.svg?t=1500964529975#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn_left:before {
  content: "\e608";
}

.icon-btn_right:before {
  content: "\e609";
}

@font-face {
  font-family: "MFShangHei-Regular";
  src: url("~assets/font/MFShangHei-Regular.eot"); /* IE9 */
  src: url("~assets/font/MFShangHei-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

  url("~assets/font/MFShangHei-Regular.woff") format("woff"), /* chrome、firefox */
  url("~assets/font/MFShangHei-Regular.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
